*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:
linear-gradient(
135deg,
#111111,
#1c1c1c,
#000000
);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;

overflow-x:hidden;
}

.pantalla{

text-align:center;

background:#1a1a1a;

padding:40px;

border-radius:25px;

border:3px solid #f4c542;

box-shadow:
0 0 20px rgba(244,197,66,.4);

max-width:500px;
}

.oculto{
display:none;
}

h1,h2{

color:#f4c542;

margin-bottom:15px;

}

.texto{
margin-bottom:15px;
}

.botones{
margin-top:20px;
}

button{

padding:12px 20px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:16px;

margin:5px;

transition:.3s;
}

.si{

background:#d32f2f;
color:white;

}

.si:hover{

transform:scale(1.05);

box-shadow:0 0 15px #d32f2f;

}

.no{

background:#555;
color:white;

}

input{

margin-top:15px;

padding:12px;

border-radius:12px;

border:1px solid #f4c542;

width:250px;
}

.fade{

animation:desaparecer 1.5s forwards;
}

@keyframes desaparecer{

from{
opacity:1;
}

to{
opacity:0;
transform:scale(1.2);
}

}

/* SOBRE */

#sobreContainer{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

#sobre{

font-size:120px;

cursor:pointer;

text-align:center;

animation:flotar 2s infinite;

filter:
drop-shadow(0 0 15px #f4c542);

}

#sobre p{

font-size:22px;

margin-top:20px;

color:#f4c542;

}

@keyframes flotar{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0px);
}

}

.cartaGrande{

background:#f5f0dc;

color:#111;

width:80%;

max-width:900px;

padding:40px;

border-radius:25px;

border:4px solid #f4c542;

box-shadow:
0 0 30px rgba(244,197,66,.4);

margin:40px auto;

animation:aparecer 1s;

}

@keyframes aparecer{

from{
opacity:0;
transform:scale(.8);
}

to{
opacity:1;
transform:scale(1);
}

}

.snoopy{

width:180px;

display:block;

margin:auto;
margin-bottom:20px;

}

.cartaGrande p{

line-height:1.8;

margin-bottom:15px;

text-align:justify;

}