<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Para Mi Campeona ❤️</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div id="sobreContainer">

<div id="sobre" onclick="abrirCarta()">

✉️

<p>Toca el sobre ❤️</p>

</div>

</div>

<div id="cartaCompleta" class="oculto">

<div class="cartaGrande">

<img
src="https://upload.wikimedia.org/wikipedia/en/5/53/Snoopy_Peanuts.png" class="snoopy">

<p style="text-align:center; font-size:20px;">
📅 90 días juntos y contando...
</p>

<h1>❤️ Para la niña más bonita ❤️</h1>

<p>
La verdad, sabía que tenía que darte una carta o algo; ya tiene tiempo que no te doy una. Sentí que esta era una de las mejores formas de regalarte una carta, pero bueno.
</p>

<p>
Estos últimos días han sido increíbles. Estos 90 días juntos han sido increíbles tanto en experiencias como en sentimientos. Nunca me había sentido tan vivo, tan querido, de alguna manera importante.
</p>

<p>
Eres la persona más increíble que he conocido. Me inspiras a levantarme cada día cuando no puedo, porque hay veces en las que no lo digo, pero no me siento capaz de levantarme o de sentirme bien, ¿sabes? Pero TÚ volviste mis días en algo increíble y con ganas de vivirlos. También siento que esta carta podría durarte muchísimo tiempo; es como un recuerdo para el futuro que podremos volver a ver.
</p>

<p>
También quería decirte que no sé cómo me llegaste a querer tanto si la gente normalmente se harta de estar conmigo. Te agradezco cada momento que pasamos juntos; son increíbles cada segundo. No me arrepiento del día que te hablé, pero lo que sí sabía es que tú y yo íbamos a tener una historia bonita. No sé cómo, pero lo sabía. Te amo de la manera más inexplicable que pueda existir.
</p>

<p>
Y solo me gustaría pasar el resto de mi vida a tu lado. No importa cómo, pero yo sé que lo nuestro es algo que va para muy largo. Es lo que sé.
</p>

<p style="text-align:center; font-weight:bold;">
⭐ Nunca olvides que soy tu fan #1 ⭐
</p>

<p style="text-align:center; font-size:22px;">
❤️ Te amo, mi campeona ❤️
</p>

<hr>

<p style="text-align:center; font-style:italic;">
"Push on through."
</p>

<p style="text-align:center;">
💛 |-/
</p>

</div>

</div>

<script>

function abrirCarta(){

document.getElementById("sobreContainer").style.display="none";

document.getElementById("cartaCompleta").classList.remove("oculto");

}

</script>

</body>

</html>